header{
  height: 200px;
  width: 300px;
  background-color: #003B75;
  border: solid;
  border-width: 10px;
  border-bottom-color: #0FFF3D;
  border-top-color: #F05FA3;
  border-left-color: #F052A3;
  border-right-color: #F01F3D;
  padding: 30px 50px;
  margin: 10px;
  border-style:inset;
}
nav{
  height: 120px;
  width: 215px;
  background-color: #FDFF00;
  border: solid;
  border-width: 10px;
  border-bottom-color: #FFB404;
  border-top-color: #F4FF58;
  border-left-color: #F4FA58;
  border-right-color: #AFB4F4;
  padding: 40px 40px;
  margin: 20px;
  border-style: inset;
}
img{
  float: left;
}
h1{
  color: #FDFFFF;
}
#coso{
  list-style-position:inside;
  list-style-image:url("img/java.png");
  font-family: sans-serif;
  font-variant: small-caps;
  font-style: italic;
  font-size: 22px;
  color: blue;
  width:550px;
  background-color: #003B75;
  background-attachment: inherit;
  text-align:justify;
  line-height: inherit;
  letter-spacing:inherit;
  word-spacing: inherit;
}
a{
  font-family: sans-serif;
  color: #FDFF0F;
  display:inline-block;
  background-color: #800FF0;
  border: solid;
  border-width: 8px;
  border-bottom-color: #57FF00;
  border-top-color: #A8FF00;
  border-left-color: #AF0000;
  border-right-color: #5F00F0;
  padding: 5px 10px;
  margin:6px;
  border-style: inset;
}
a:link{
  color: #00FF88;
}
a:hover{
  color: #00FF00;
}
a:active{
  color: #FFC2FF;
}
ol{
  list-style-type: cambodian;
  list-style-position:outside;
  display:block;
  font-family: sans-serif;
  font-variant:inherit;
  font-style: oblique;
  font-size: 20px;
  color: #003B75;
  width:500px;
  background-color: #FDFFFF;
  background-attachment: inherit;
  text-align: justify;
  line-height: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
