body {
  background: none repeat scroll 0 0 #333333;
  padding: 0px 20px 0;
  background-attachment: scroll;
  background-size:cover;
  letter-spacing: 3px;
  font-size: 18px;
  color: white;
}
h1 {
    font-family: "Arial Black", Gadget, sans-serif;
}
ul {
  border: 10px solid #00FFFF;
  background-color: #000000;
}
li {
  color: #FFFFFF;
}
