div{
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #00FFFF;
  padding: 15px;
  border-style:solid;
}

#d1{
  border-radius: 50px 0px 50px 0px;
}

#d2{
  background-image:linear-gradient(#FF0000,#FFFF00,#FFFF00,#FF0000);
}

#d3{
  background-image:radial-gradient(#FF0000,#FFFF00,#FF0000);
}

#d4{
    background-image:repeating-radial-gradient(#FF0000, #FFFF00 30%,#FF0000 30%);
}

#d5{
  transition-property: color, background-color, border-radius;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: .3s;
}
#d5:hover{
  color: #FF0000;
  background-color: #FFFF00;
  border-radius: 50px;
}

#d6{
  transform: translate(20px, -30px);
}

#d7{
  transform: rotate(50deg);
}

#d8{
  transform: scaleX(0.7) scaleY(0.8);
}

#d9{
  transform: skewX(30deg);
}
