/*Titulos varios, opciones del Body*/
body {
  background: none repeat scroll 0 0 #333333;
  padding: 0px 20px 0;
  background-attachment: scroll;
  background-size:cover;
  letter-spacing: 3px;
  font-size: 18px;
  color: white;
}

h1, h2, h3, h4, h5 {
    font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
 color: #01CEFE;
}

h4 {
  color: #FE0101 ;
}

h3 {
  color: #008080 ;
}
/*Final Titulos varios, opciones del Body*/


/*Titulo, Logo, Header*/
.header {
  overflow: hidden;
  background-color: cyan;
  padding: 3px 10px;
}

.logo {
  position: relative;
  bottom: 7px;
  right: 5px;
}

.header a {
  float: left;
  padding: 5px;
  border-radius: 5px;
}

.header a:hover {
  background-color: #FFA502;
  color: orange;

}
/*Final Titulo, Logo, Header*/


/*Botones*/
.btn {
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  text-decoration:  none;
  padding: 8px;
  font-size: 25px;
  transition: .35s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

.btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto;
}

.blue {
  color: #55acee;
  border: 2px #55acee solid;
}

.blue:hover {
  background-color: #55acee;
  color: #fff
}

.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.orange {
  color: #e67e22;
  border: 2px #e67e22 solid;
}

.orange:hover {
  color: #fff;
  background-color: #e67e22;
}

.yellow {
  color: #f1c40f;
  border: 2px #f1c40f solid;
}

.yellow:hover {
  color: #fff;
  background-color: #f1c40f;
}

.white {
  margin: 2px;
  font-size: 20px;
  color: #FFFFFF;
  border: 2px #A9A9A9 solid;
}

.white:hover {
  color: #fff;
  background-color: #D3D3D3;
}

.blue2 {
  margin: 2px;
  font-size: 20px;
  color: #FFFFFF;
  border: 2px #4682B4 solid;
}

.blue2:hover {
  color: #fff;
  background-color: #008080;
}

.buttons {
  padding-top: 30px;
  text-align: left;
}
/*Final Botones*/


/*Tablas*/
table {
  border: 1px #a39485 solid;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: center;
}

thead {
  font-weight: bold;
  color: #fff;
  background: #00cc66;
}

 td, th {
  padding: 10px 5px;
  vertical-align: middle;
}

 td {
  border-bottom: 1px;
  background: #fff;
}

a {
  color: white;
}

  @media all and (max-width: 768px) {

    table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    text-align: right;
  }

  table {
    position: relative;
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }

  thead {
    float: left;
    white-space: nowrap;
  }

  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }

  tr {
    display: inline-block;
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid #a39485;
  }

  td {
    border-bottom: 1px solid #e5e5e5;
  }
}
/*Final Tablas*/


/*listas*/
ul {
  font-family: monospace;
  font-size: 17px;
  list-style: decimal-leading-zero;
  margin: 20px;
}

li {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
 }
 /*Final listas*/


 /*Imagen pag.principal*/
 .bimg {
   border-radius: 8px;
   max-width: 100%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

 .bimg:hover {
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
 }
  /*Imagen pag.principal*/


 /*Disposición de imagenes y demás en columna pag.player*/
.columna {
  float: right;
  width: 32.9%;
  margin-bottom: 16px;
  padding: 0 4px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.imagen {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 20px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #1E90FF;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #00BFFF;
}
 /*Final Disposición de imagenes y demás en columna pag.player*/


/*Posicionamiento de imagenes varias*/
.imggl {
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*Final Posicionamiento de imagenes varias*/


/*Titulo sticky pag.encuesta*/
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #90EE90;
  padding: 1px;
  font-size: 22px;
}
/*Final Titulo sticky pag.encuesta*/
